.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}


.lsb{
    background-color: #F7F9FC;
    width: 100%;
}
.rsb{
    width: 100%;
    padding: 6.4rem 4.8rem ;
}
.rsb__left-border{
    border-left:2px solid black;
}

.timeline{
    /*border: 3px solid black;*/
    margin-left: 4.8rem;
    position: relative;
}
.timeline-round{
    position: absolute;
}
@media only screen and (min-width: 769px) {
    .lsb{
        width: 28.58%;
    }
    .rsb{
        width: 71.42%;
    }
    
}