.experience{

}
.experience__list{
    display: flex;
    flex-wrap: wrap;
    justify-self: flex-start;
    gap: 1rem;
}
.experience__left-box{


}
.experience__left-box-top{
    background-color: aqua;

}
.experience__left-box-lower{
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;

}

.experience__left-box-description-box{

}
.experience__right-box{
    background-color: blanchedalmond;


}