
.experience__left-box{
    flex: 1;
    display: flex;
    flex-direction: column;

}
.experience__left-box-top{
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.experience__left-box-lower{
    display: flex;
    flex-wrap: wrap;
}
.experience__right-box{
    flex: 2;
}
.experience-instbox{
    padding: 1.2rem;
}

@media only screen and (min-width: 800px) {

.experience-instbox{
    display: flex;
    flex-wrap: wrap;
    width: 100%;    
}
}