.skills{
    padding: 1.6rem;
}

.skills-upper,
.skills-lower{
    margin:1.3rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}.skills-upper li,
.skills-lower li{
    margin-left: auto;
    padding-left: 2rem;
}
.skills-upper{
    color: rgba(146, 81, 247, 1);
}
.skills-lower{
    color:rgba(81, 108, 247, 1)
}
#skill-icon{
    flex: 1;

}

.skills >*{
    margin: 0 5rem;
}
.web{
    flex:2;
}
.skill-li{
    flex: 1;
}
.Design{
    flex: 1;
}
.wrap{
    flex:1;
    background-color: #F7F9FC;
    margin: 1rem;
    padding: 1.6rem;
}

