.timeline{
    border-left: 1px solid rgba(226, 230, 238, 1);
    position: relative;
}
.timeline-icon{
    position: absolute;
    transform: translate(-85%,-40%);
}
.timeline--smaller{ 
    position: relative;
}

.timeline-icon--smaller{
    position: absolute;
    transform: translateX(-25%);
    left: -.5rem;
}