tools-box{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}
.tools-box-upper,
.tools-box-lower{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}
.tools-box-lower{
    margin-top: 1rem;
}
.tools-inst{
    padding:1.2rem;
    flex:1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#F7F9FC;
    text-align: center;
    border-radius: 3px;
}
